.feed {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-column-gap: 16px;
	grid-row-gap: 15px;
	margin-top: 15px;
}

.card img {
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.card h2 {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	margin: 5px 0;
}
.card h3 {
	font-size: 14px;
	font-weight: 600;
	color: #555;
	margin: 6px 0;
}

.card p {
	font-size: 14px;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
