.play-video {
	flex-basis: 69%;
}

.play-video iframe {
	width: 100%;
	height: 37vw;
	object-fit: cover;
}

.play-video h3 {
	margin-top: 10px;
	font-size: 22px;
	font-weight: 600;
}

.play-video-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	font-size: 14px;
	color: #5a5a5a;
}

.play-video-info img {
	width: 20px;
	margin-right: 8px;
}

.play-video-info span {
	display: inline-flex;
	align-items: center;
	margin-right: 15px;
	line-height: 1.5;
}
.play-video hr {
	border: 0;
	background: #ccc;
	height: 1px;
	margin: 10px 0;
}

.publisher {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.publisher div {
	flex: 1;
	line-height: 18px;
}

.publisher img {
	width: 40px;
	border-radius: 50%;
	margin-right: 15px;
}

.publisher div p {
	color: #000;
	font-weight: 600;
	font-size: 18px;
}

.publisher div span {
	font-size: 15px;
	color: #5a5a5a;
}

.publisher button {
	background-color: red;
	color: #fff;
	padding: 8px 30px;
	border: 0;
	outline: 0;
	border-radius: 4px;
	cursor: pointer;
}
.vid-description {
	padding-left: 55px;
	margin: 15px 0;
}

.vid-description p {
	margin-bottom: 5px;
	font-size: 14px;
	color: #5a5a5a;
}

.vid-description h4 {
	font-size: 14px;
	color: #5a5a5a;
	margin-top: 15px;
}

.comments {
	display: flex;
	align-items: start;
	margin: 20px 0;
}

.comments img {
	width: 35px;
	border-radius: 50%;
	margin-right: 15px;
}

.comments h3 {
	font-size: 14px;
	margin-bottom: 2px;
}

.comments h3 span {
	font-size: 12px;
	color: #5a5a5a;
	font-weight: 500;
	margin-left: 8px;
}

.comment-action {
	display: flex;
	align-items: center;
	margin: 8px 0;
	font-size: 14px;
}

.comment-action img {
	border-radius: 0;
	width: 20px;
}

.comment-action span {
	margin-right: 10px;
	color: #5a5a5a;
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
