.wrapperLoading {
	width: 100%;
	min-height: 100vh;
	min-height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: #f1f1f1;
	left: 0;
	top: 0;
	z-index: 10;
	flex-direction: column;
	gap: 1rem;
}

.wrapperLoading h4 {
	font-size: 1.8rem;
	text-transform: capitalize;
	font-weight: 400;
	color: #000;
}
