.sidebar {
	background: #fff;
	width: 15%;
	height: 100vh;
	height: 100svh;
	position: fixed;
	padding-left: 2%;
	padding-top: 35px;
	transition: all 0.2ms;
	box-shadow: 0 0.5px 10px #ccc;
}

.sidebar .sortcut-links img {
	width: 20px;
	margin-right: 20px;
}

.side-link {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	width: fit-content;
	flex-wrap: wrap;
	cursor: pointer;
}

.sidebar hr {
	border: 0;
	height: 1px;
	background: #ccc;
	width: 85%;
}

.subcribed-list h3 {
	font-size: 13px;
	margin: 20px 0;
	color: #5a5a5a;
}

.subcribed-list img {
	width: 25px;
	border-radius: 50%;
	margin-right: 20px;
}

.sidebar.small-sidebar {
	width: 5%;
}

.small-sidebar p,
.small-sidebar h3 {
	display: none;
}

.small-sidebar hr {
	width: 50%;
	margin-bottom: 25px;
}

.side-link.active img{
	padding-bottom: 2px;
	border-bottom: 3px solid red;
}
