.recommended{
  flex-basis: 30%;
}

.side-video-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.side-video-list img{
  width: 50%;
  flex-basis: 48%;
}

.vid-info{
  flex-basis: 48%;
}

.vid-info h4{
  font-size: 13px;
  margin-bottom: 5px;
}

.vid-info p{
  font-size: 14px;
  margin-top: 7px;
  
}