* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #5a5a5a;
}

img {
	cursor: pointer;
}

.flex-div {
	display: flex;
	align-items: center;
}

